* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.bar {
    height: 90px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}


.link a{
    color: black;
    /* text-decoration: none; */
    margin: 0 15px;
    font-size: 15px;
    transition: color 0.3s ease;
}

.link a:hover {
    color: #258964;
}

.logo {
    background-image: url("images/logo.png");
    background-size: contain;
    background-position: center;
    height: 60px;
    width: 60px;
    border-radius: 100px;
}

.search input {
    border-radius: 25px;
    height: 40px;
    width: 300px;
    border: 1px solid #ccc;
    padding: 0 15px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
}

.search input:focus {
    border: 1px solid #258964;
    box-shadow: 0 0 5px rgba(37, 137, 100, 0.5);
}

.signin {
    border-radius: 100px;
    background-color: black;
    color: white;
    width: 90px;
    height: 40px;
    
}

.signin button:hover {
    background-color: rgb(75, 75, 75);
}

.pi {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bar2 {
    height: 90px;
    background-color: #1e3932;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    color: white;
    font-size: 20px;
}

.bar3 {
    height: 100px;
    background-color: #f8f0e5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    padding: 0 40px;

}

.bar3 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    margin-left: 10px;
}

.choose {
    height: 70px;
    border-radius: 100px;
}

.button {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px;
    height: 40px;
    width: 100px;
    cursor: pointer;
    color: white;
    border: solid 1px;
    border-radius: 20px;
    border-color: white;
    background-color: #1e3932;
}

.mainsection {
    height: 3000px;
    padding: 50px;
}

/* tab 1 */
.tab {
    height: 414px;
    background-color: #f8f0e5;
    display: flex;

}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.pimg {
    height: 414px;
    width: auto;
}

.text {
    color: #5f4633;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}

.text2 {
    color: #5f4633;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu {
    background-color: #14754f;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: 2px;
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px auto 0 auto;
}

/* tab 2 */
.tab2 {
    height: 414px;
    background-color: #f8f0e5;
    display: flex;
    margin-top: 30px;
}

.text3 {
    color: #006242;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}

.text4 {
    color: #006242;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu2 {
    background-color: #f8f0e5;
    border-color: #14754f;
    color: #14754f;
    font-weight: bold;
    border-radius: 20px;
    border:solid 1px;
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px auto 0 auto;
}

/* tab 3 */
.tab3 {
    height: 414px;
    background-color: #32462f;
    display: flex;
    margin-top: 30px;
}

.text5 {
    color: white;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}

.text6 {
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu3 {
    background-color: #32462f;
    border-color: white;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border:solid 1px;
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px auto 0 auto;
}

/* tab 4 */
.tab4 {
    height: 414px;
    background-color: #aa1d38;
    display: flex;
    margin-top: 30px;
}

.text7 {
    color: white;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}

.text8 {
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu4 {
    background-color: #aa1d38;
    border-color: white;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border:solid 1px;
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px auto 0 auto;
}

.pgirl {
    height: 614px;
    width: auto;
}

/* tab 5 */
.tab5 {
    height: 614px;
    background-color: #aa1d38;
    display: flex;
    margin-top: 30px;
}

.text9 {
    color: white;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
}

.text10 {
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu5 {
    background-color: #aa1d38;
    border-color: white;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border:solid 1px;
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px auto 0 auto;
}

/* tab 6 */
.tab6 {
    height: 414px;
    background-color: #f8f0e5;
    display: flex;
    margin-top: 30px;
}

.text11 {
    color: #006242;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}

.text12 {
    color: #006242;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu6 {
    background-color: #188259;
    border-color: #14754f;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border:solid 1px;
    width: 100px;
    height: 40px;
    display: block;
    margin: 20px auto 0 auto;
}


.buyb {
    border: none;
    border-radius: 50px;
    background-color: #1e3932;
    color: white;
    width: 100px;
    height: 40px;
    /* margin: 20px; */
    /* margin-left: 80px; */
    justify-content: center;
    transition: all 0.3s ease;
}

.buyb:hover {
    background-color: #258964;
    transform: scale(1.05);
}

/* sign in css */

.mainsection2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  background-color: #ffffff;
  background-image: url("images/starbg3.jpg");
  background-size: cover;
}

.box {
  background: #f2f0eb;
  padding: 40px;
  border-radius: 12px;
  width: 400px;
  height: 400px;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
}


.enter input{
    border: 1px solid #ccc; 
    border-radius: 25px;
    height: 45px;
    width: 100%;
    margin: 10px 0;
    padding: 0 15px;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}

.enter input:focus {
  border-color: #1e3932;
  box-shadow: 0 0 5px rgba(30, 57, 50, 0.4);
}

.link2 {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link2 a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.link2 a:hover {
    text-decoration: underline;
    color: #14754f;
}

.in {
    background-color: #1e3932;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    padding: 5px;
    width: 100%;
    padding: 12px;
    height: 50px;
    /* margin: 20px; */
}

.in:hover {
    background: #14754f;
}

.checkb {
    text-align: left;
    margin: 10px 0 20px 0;
    font-size: 16px;
    color: black;
}

/* ------------------------------------------------------------------- */
.sabrina {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sabrina video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sabrina .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  /* backdrop-filter: blur(6px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e3932;
    border-radius: 30px;
    border: solid 1px;
    border-color: black;
    cursor: pointer;
    height: 40px;
    width: 150px;
    color: white;
    display: block;
    margin-top: 50px;
}

.sabrina button:hover {
    background-color: #14754f;
}

.sabrina .overlay h1 {
    font-size: 40px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 60px;
}

.sabrina .overlay p {
    color: white;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

/* ------------------------------------------------------------------ */

.disclaimer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #1e3932;
    background-color: #f3f4f6;
}
